<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < category.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= category[i].name %></td>
        <td>
          <form action="/category/delete/<%= category[i]._id %>?_method=DELETE" method="POST">
            <a class="btn btn-warning" href="/category/edit/<%= category[i]._id %>">
              <i class="far fa-edit"></i>
            </a>
            <button class="btn btn-danger" onclick="return confirm('Yakin akan menghapus data ?')">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
